<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lev Quiz App</title>

    <link href="libraries/slickquiz/css/reset.css" media="screen" rel="stylesheet" type="text/css">
    <link href="libraries/slickquiz/css/slickQuiz.css" media="screen" rel="stylesheet" type="text/css">
    <link href="libraries/slickquiz/css/master.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Lev Quiz App</h1>

    <div id="app"></div>

    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script src="libraries/slickquiz/js/jquery.js"></script>
    <script src="libraries/slickquiz/js/slickQuiz.js"></script>
    <script src="modules/custom/app/js/app.js" type="text/babel"></script>
  </body>
</html>
